.row {
    margin: 1rem;
}

.tile-thumbnail {
    height: 400px;
    width: 400px;
    object-fit: contain;
    border: 1px solid #000000;
}

.mr-top-10 {
    margin-top: 10px;
}

.mr-bottom-10 {
    margin-bottom: 10px;
}

.uploadCanvas {
    display: none;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

.new-line {
    display: block;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}